<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" charset="UTF-8"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>管理员页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
<h1>管理员管理页面</h1>
<div class="container"  id="user">
    <!-- 用户管理 -->
    <h2>用户管理</h2>
    <button class="add-button" @click="openAddUserModal">添加用户</button>
    <table>
        <thead>
        <tr>
            <th>用户 ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users" :key="user.userId">
            <td>{{user.userId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>
                <button class="edit-button" @click="openEditUserModal(user)">编辑</button>
                <button @click="removeUser(user)" class="delete-button">删除</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 添加用户模态框 -->
    <div id="addUserModal" class="modal" v-if="isAddUserModalVisible">
        <div class="modal-content">
            <span class="close" @click="closeModal('addUser')">&times;</span>
            <h2>添加用户</h2>
            <form  id="addUserForm" @submit.prevent="addUser">
                <label for="addUsername">用户名:</label>
                <input type="text" id="addUsername" v-model="addUsername" required>
                <label for="addPassword">密码:</label>
                <input type="password" id="addPassword" v-model="addPassword" required>
                <button type="submit">提交</button>
            </form>
        </div>
    </div>

    <!-- 编辑用户模态框 -->
    <div id="editUserModal" class="modal" v-if="isEditUserModalVisible">
        <div class="modal-content">
            <span class="close" @click="closeModal('editUser')">&times;</span>
            <h2>编辑用户</h2>
            <form @submit.prevent="editUser" id="editUserForm">
                <input type="hidden" id="editUserId" v-model="editUserId">
                <label for="editUsername">用户名:</label>
                <input type="text" id="editUsername" v-model="editUsername" required>
                <label for="editPassword">密码:</label>
                <input type="password" id="editPassword" v-model="editPassword" required>
                <button type="submit">提交</button>
            </form>
        </div>
    </div>

</div>
<div class="container">
    <!-- 漫画管理 -->
    <h2>漫画管理</h2>
    <button class="add-button">添加漫画</button>
    <table>
        <thead>
        <tr>
            <th>漫画 ID</th>
            <th>漫画名称</th>
            <th>作者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!-- 这里可以使用 Thymeleaf 循环展示漫画列表 -->
        <tr>
            <td>1</td>
            <td>Comic 1</td>
            <td>Author 1</td>
            <td>
                <button class="edit-button">编辑</button>
                <button class="delete-button">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <!-- 动漫管理 -->
    <h2>动漫管理</h2>
    <button class="add-button">添加动漫</button>
    <table>
        <thead>
        <tr>
            <th>动漫 ID</th>
            <th>动漫名称</th>
            <th>作者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!-- 这里可以使用 Thymeleaf 循环展示动漫列表 -->
        <tr>
            <td>1</td>
            <td>Anime 1</td>
            <td>Studio 1</td>
            <td>
                <button class="edit-button">编辑</button>
                <button class="delete-button">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/vue.global.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>